{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.16.custom.css" />
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/console.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/Point2D.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/Point3D.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/Matrix3D.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/PointSphere.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/kcanvas.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/kcanvas-handler.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/kcanvas-polygon.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bounding-box-handler-vps.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/preview-handler.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/light-source.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/light-source-handler.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/light-shaft.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/light-shaft-handler.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/surface.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/surface-handler.js"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var room = "{{ MEDIA_URL }}{{object.image}}";
    </script>
{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <div class="content">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-bounding-box">Bounding Box</a></li>
				<li><a href="#tabs-light-sources">Light Sources</a></li>
				<li><a href="#tabs-light-shafts">Light Shafts</a></li>
				<li><a href="#tabs-surfaces">Surfaces</a></li>
				<li><a href="#tabs-help">Help</a></li>
				<li><a href="#tabs-result">Result</a></li>
			</ul>
			<!-- Bounding Box -->
			<div id="tabs-bounding-box">
				<div class="twocols-right clearfix">
					<div class="toolbar-wrapper">
						<div id="boundingbox-tools" align="center">
							<u>Anchor vertex</u><br>
							Top left <input type="radio" name="radioAnchor" id="update-anchor-link1"/>
							<input type="radio" name="radioAnchor" id="update-anchor-link2"/> Top right<br> 
							Bot left <input type="radio" name="radioAnchor" id="update-anchor-link0" checked/>
							<input type="radio" name="radioAnchor" id="update-anchor-link3"/> Bot right<br>
							<br>
							<u>Room depth</u><br>
							<input type="range" min="0.1" max="50.0" value="15.0" step="0.1" id="update-depth-link"/><br>
							<br>
							<button type="button" id="reset-corners-link">Reset corners</button><br>
							<br>
							<u>3D Preview</u><br><br>
							<canvas id="canvas-3d-preview" width="150" height="100"><br>
						</div>
					</div>
				</div>
				<div class="twocols-left clearfix">
					<div class="canvas-wrapper"><canvas id="canvas-bounding-box" width="800" height="600">
					<p>Your browser does not support HTML5 which is required for this demo.</p>
					</canvas></div>
				</div>
			</div>
			
			<!-- Light Sources -->
			<div id="tabs-light-sources">
				<div class="twocols-right clearfix">
					<div class="toolbar-wrapper">
						<div id="lightsource-tools">
							<a class="toolbar-link" id="add-light-source-link">Add Light Source</a>
						</div>
						<div id="lightsource-list">
						</div>
					</div>
				</div>
				<div class="twocols-left clearfix">
					<div class="canvas-wrapper"><canvas id="canvas-light-sources" width="800" height="600">
					<p>Your browser does not support HTML5 which is required for this demo.</p>
					</canvas></div>
				</div>
			</div>
			
			<!-- Light Shafts -->
			<div id="tabs-light-shafts">
				<div class="twocols-right clearfix">
					<div class="toolbar-wrapper">
						<div id="lightshaft-tools">
							<div style="padding: 3px; border: 1px solid black">
								<u>Light shaft direction</u><br>
								<input type="radio" name="radioShafts" id="shaft2d-input-link" checked/>Select shaft source<br>
								<input type="radio" name="radioShafts" id="shaft3d-input-link"/>Specify shaft direction<br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Altitude: <span id="shaft3d-phi-label-link">0.5 pi</span><br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="range" min="0.0" max="0.5" value="0.5" step="0.01" id="shaft3d-phi-link" disabled="disabled"/><br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Azimuth: <span id="shaft3d-theta-label-link">0 pi</span><br>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="range" min="0.0" max="2.0" value="0.0" step="0.01" id="shaft3d-theta-link" disabled="disabled"/><br>
							</div>
							<br>
							<a class="toolbar-link" id="add-light-shaft-link">Add Light Shaft</a>
						</div>
						<div id="lightshaft-list">
						</div>
					</div>
				</div>
				<div class="twocols-left clearfix">
					<div class="canvas-wrapper"><canvas id="canvas-light-shafts" width="800" height="600">
					<p>Your browser does not support HTML5 which is required for this demo.</p>
					</canvas></div>
				</div>
			</div>
			
			<!-- Surfaces -->
			<div id="tabs-surfaces">
				<div class="twocols-right clearfix">
					<div class="toolbar-wrapper">
						<div id="surface-tools">
							<a class="toolbar-link" id="add-surface-link">Add Surface</a>
						</div>
						<div id="surface-list">
						</div>
					</div>
				</div>
				<div class="twocols-left clearfix">
					<div class="canvas-wrapper"><canvas id="canvas-surfaces" width="800" height="600">
					<p>Your browser does not support HTML5 which is required for this demo.</p>
					</canvas></div>
				</div>
			</div>
			
			<!-- Help -->
			<div id="tabs-help">
				<p>
					Help menu placeholder (instructions, video, links to come)
				</p>
			</div>
			
			<!-- Results -->
			<div id="tabs-result">
				<p>
                    <form id="annotation-canvas-form" action="{% url 'annotation_canvas_submit_view' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" />
                    </form>
				</p>
			</div>
		</div>
    </div>
    <footer>
		<div class="footer-left">
			<a href="http://cs.illinois.edu"><img src="{{ STATIC_URL }}img/uiuc_logo_small.png" alt="University of Illinois at Urbana-Champaign" /></a>
		</div>
		<div class="footer-right">
			<p><b><a href="http://kevinkarsch.com/publications/sa11.html">Rendering Synthetic Objects into Legacy Photographs</a></b><br/>Karsch, K.; Hedau, V.; Forsyth, D.; Hoiem, D.</p>
			<p><b><a href=".">Canvas Annotator</a></b><br/>Keunhong Park</p>
		</div>
    </footer>
</html>
</body>
{% endblock %}
